body {
  font-family: sans-serif;
  background-image: url("../images/fond_vignes.jpg");
  background-repeat: no-repeat;

}

* {
  scrollbar-width: thin;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

html {
  overflow: hidden;
}

main {
  position: absolute;
  display: block;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 80%;
  height: 100%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/************************* Header *******************************/
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  width: 100%;
  border-bottom: 2px solid #a1063bff;

}

.header img {
  height: 64px;
  float: left;
}

.navbar {
  border-top: 2px solid #a1063bff;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 8px 12px;
}

.navbar ul li a {
  font-size: 20px;
  color: #a1063bff;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: rgb(255, 0, 89);
}

/********************************************   ACCUEIL   ********************************************/
.title {
  font-family: 'Andale-Regular';
  color: rgb(61, 61, 61);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}

#container-1 {
  display: flex;
  /* crée un conteneur flex */
  gap: 5vw;
  justify-content: center;
  /* aligne les éléments au centre */
}

#container-1 .accueil-box {
  margin: 15px;
  margin-top: 80px;
  width: 35vh;
  /* définir la largeur de chaque élément selon vos besoins */
  height: 41vh;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 3px 5px .5px rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: ease 100ms;
}

#container-1 .accueil-box:active {
  filter:brightness(80%);
}

#container-1 .accueil-box:hover {
  transform: scale(1.05);
  transition: ease;
  transition-duration: 100ms;
}

#accueil-container-1 .accueil-box h1 {
  text-align: center;
  color: rgb(39, 39, 39);
  font-family: 'Andale-Regular';
  font-size: 22vh;
  
}

#container-1 .accueil-box img, #container-1 .accueil-box h1 {
  user-select: none;
  pointer-events: none;
}

.accueil-box-elem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.accueil-box-elem img {
  color: #a1063bff;
}

#container-1 a {
  text-decoration: none;
}

/*----------------FOOTER----------------*/
.footer {
  position: fixed;
  margin-top: 2%;
  height: 50;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.8em;
  bottom: 0;

  background-color: #a1063bff;
  color: white;
  width: 80%;
}

.footer a {
  color: wheat;
}


/*----------------Liste domaine----------------*/

.card {
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.75);

  position: absolute;
  left: 10px;

}

.header_card {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

.body {
  padding: 20px;
}

.filtre {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}



.filtre ul li {
  list-style: none;

  position: relative;
  padding: 8px 12px;
}

.body_card h3 {
  text-align: center;
}

.recherche {
  padding: 20px;
  position: absolute;
  left: 30%;
}

#scroll {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  height: 85vh;
  overflow-y: scroll;
}



.card_liste {

  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.75);
  margin-bottom: 10px;


}

.card_Liste_header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 18px;

}



.card_Liste_header img {
  width: 75%;
  height: 75%;
}

/*------------------------------------------------------------------------------------------------------*/